.contenedor-maravillas{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px rgb(0 0 0 / 9%);
    
}

.imagen-maravillas {
    height: 100%;
    width: auto;
}

.contenedor-texto-maravillas {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;

}

.nombre-maravillas {
    font-size: 1.3rem;
}

.texto-maravillas {
    font-size: 1.1rem;
    text-align: justify;
}